<%- include('header/specialHeader') %> 
  <div style="text-align: center;">
    <h1>Login</h1>
  </div>
    

  <% if (errors) { %>
  <div class="alert alert-danger" role="alert" style="text-align: center;">
    <%= errors %>
  </div>
  <% } %>

  <form action="/login" method="post">
    <div style="text-align: center;">
      <label>Email</label><br>
      <input type="text" name="email"><br>
      <br>
    </div>
    <div style="text-align: center;">
      <label>Password</label><br>
      <input type="password" name="password"><br>
      <br>
    </div>
    <div style="text-align: center;">
      <input class="btn btn-primary" type="submit" value="Login">
    </div>
  </form>
  <div style="text-align: center;">
    <p>New user? <a href="/register" >Register</a></p>
  </div>
</body>
</html>