<%- include('header/specialHeader') %> 
  <div style="text-align: center;">
    <h1>Register</h1>
  </div>

  <% if (errors) { %>
    <div class="alert alert-danger" role="alert" style="text-align: center;">
      <%= errors %>
    </div>
  <% } %>

    <div style="text-align: center;">
      <form action="/register" method="post">
        <label>First name</label><br>
        <input type="text" name="firstName"><br>
        <br>
        <label>Last name</label><br>
        <input type="text" name="lastName"><br>
        <br>
        <label>Age</label><br>
        <input type="number" name="age"><br>
        <br>
        <label>Email</label><br>
        <input type="text" name="email"><br>
        <br>
        <label>Password</label><br>
        <input type="password" name="password"><br>
        <br>
        <label>Role</label><br>
        <select name="role">
          <option value="User">User</option>
          <option value="Moderator">Moderator</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Register">
      </form>
      <p>I have account. <a href="/login">Login</a></p>
    </div>

</body>
</html>